@page "/"
@inject IApiService Api
@namespace Qfx.Cinema.Web.Components

<PageTitle>Home</PageTitle>
@if (!string.IsNullOrWhiteSpace(exception))
{
    <div class="alert alert-danger" role="alert" id="exception">@exception</div>
}
@if (isBusy)
{
    <p><em>Loading...</em></p>
}
<h3>Only Foregin Movies Collection!</h3>
<span class="badge bg-secondary my-2">nearest theatre</span>
<select class="form-control" @bind="@selectedCityId">
    @if (cinemaCities is not null)
    {
        @foreach (var city in cinemaCities)
        {
            <option value="@city.Id">@city.Name</option>
        }
    }
</select>
<button @onclick="InitNowShowingAsync" class="btn btn-primary my-2" disabled="@isBusy">Show</button>
<MovieList Title="Upcoming Movies" Movies="upcomingMovies" />
<MovieList Title="Now Showing Movies" Movies="nowShowingMovies" />

@code {
    private MovieResponse[]? upcomingMovies;
    private MovieResponse[]? nowShowingMovies;
    private CinemaCityResponse[]? cinemaCities;
    private int selectedCityId = 48366; //birtamode
    private string? exception;
    private bool isBusy;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            isBusy = true;
            var tasks = new Task[]
            {
                InitCinemaCitiesAsync(),
                InitUpcomingsAsync(),
                InitNowShowingAsync(),
            };
            await Task.WhenAll(tasks);
        }
        catch (Exception ex)
        {
            exception = ex.ToString();
        }
        finally
        {
            isBusy = false;
        }
    }
    private async Task InitCinemaCitiesAsync()
    {
        var data = await Api.Cinemas();
        var res = data.DeserializeAnonymousType(new
        {
            Records = new[]
            {
                new
                {
                    city_name = string.Empty,
                    city_id = 0,
                }
            }
        });
        cinemaCities = res?.Records
        .DistinctBy(x => x.city_id)
        .OrderBy(x => x.city_name)
        .Select(x => new CinemaCityResponse(x.city_id, x.city_name))
        .ToArray();

    }
    private async Task InitUpcomingsAsync() => upcomingMovies = await FetchMoviesAsync(() => Api.UpcomingShows());
    private async Task InitNowShowingAsync()
    {
        try
        {
            nowShowingMovies = await FetchMoviesAsync(() => Api.NowShowing(selectedCityId));
        }
        catch (Exception ex)
        {
            exception = ex.ToString();
        }
    }
    private async Task<MovieResponse[]> FetchMoviesAsync(Func<Task<string>> callback)
    {
        var data = await callback();
        var res = data.DeserializeAnonymousType(new
        {
            Records = new
            {
                data = new[]
                {
                    new
                    {
                        movie_id = 0,
                        movie_title = string.Empty,
                        original_release_date = DateTime.Now,
                        languages_with_translations = new[]{ new { key = string.Empty } },
                        languageSpecificImages = new[]{new {artwork = string.Empty }},
                    }
                }
            }
        });
        return res?.Records.data
        .Where(x => x.languages_with_translations.Any(u => u.key == "English"))
        .Select(x => new MovieResponse(x.movie_id, x.movie_title, x.original_release_date, "English", x.languageSpecificImages.First().artwork))
        .ToArray() ?? [];
    }
}
